
.box{
	display: flex;
	flex-flow:column;
	border:2px solid firebrick;
	border-radius: 10px;
	padding-bottom: 10px;
	background-image: linear-gradient(to right, #CD5C5C, white, white,white);
}


.div{
	display: inline-block;
	vertical-align: middle;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;

}

.title{
	font-size: 120%;
	color:firebrick;

}

.p{
	font-size: 80%;

}

.time{
	font-weight: bold;
	font-size: 50%;


}